<h1>Api terms &amp; conditions</h1>
<div class="main">
  <table ng-table="tableParams" class="table" show-filter="true">
      <tr ng-repeat="user in $data">
          <td title="'Term Id'" filter="{ termId: 'text'}" sortable="'termId'">
              {{user.termId}}</td>
          <td title="'API Id'" filter="{ apiId: 'text'}" sortable="'apiId'">
              {{user.apiId}}</td>
          <td title="'Version'" filter="{ version: 'text'}" sortable="'version'">
              {{user.version}}</td>
          <td title="'Username'" filter="{ username: 'text'}" sortable="'username'">
              {{user.username}}</td>
          <td title="'language'" filter="{ language: 'text'}" sortable="'language'">
              {{user.language}}</td>
          <td title="'Creation Date'" sortable="'creationDate'">
              {{user.creationDate | date}}</td>
          <td title="'clientIp'" filter="{ clientIp: 'text'}" sortable="'clientIp'">
              {{user.clientIp}}</td>
          <td title="'Html (en)'" filter="{ pdfEn: 'text'}" sortable="'pdfEn'">
            <a ng-href="#!/apisHtml/{{user.termId}}/en">{{user.pdfEn | getFilename}}</a>
          </td>
          <td title="'Html (es)'" filter="{ pdfEs: 'text'}" sortable="'pdfEs'">
            <a ng-href="#!/apisHtml/{{user.termId}}/es">{{user.pdfEs | getFilename}}</a>
          </td>
       </tr>
  </table>
</div>
