<h1>General terms &amp; conditions</h1>
<div class="main">
  <table ng-table="tableParams" class="table" show-filter="true">
      <tr ng-repeat="user in $data">
          <td title="'termId'" filter="{ termId: 'text'}" sortable="'termId'">
              {{user.termId}}</td>
          <td title="'Version'" filter="{ version: 'text'}" sortable="'version'">
              {{user.version}}</td>
          <td title="'Username'" filter="{ username: 'text'}" sortable="'username'">
              {{user.username}}</td>
          <td title="'language'" filter="{ language: 'text'}" sortable="'language'">
              {{user.language}}</td>
          <td title="'Creation Date'" sortable="'creationDate'">
              {{user.creationDate | date}}</td>
          <td title="'clientIp'" filter="{ clientIp: 'text'}" sortable="'clientIp'">
              {{user.clientIp}}</td>
          <td title="'Pdf (en)'" filter="{ pdfEn: 'text'}" sortable="'pdfEn'">
              <a target="_blank" href="{{user.pdfEn}}">{{user.pdfEn | getFilename}}</a>
          </td>
          <td title="'Pdf (es)'" filter="{ pdfEs: 'text'}" sortable="'pdfEs'">
              <a target="_blank" href="{{user.pdfEs}}">{{user.pdfEs | getFilename}}</a>
          </td>
      </tr>
  </table>
</div>
